*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6fb;
}

/* TOPO */

.topo-contato{
    text-align:center;
    padding:50px 20px;
    background:white;
}

.logo{
    width:130px;
    margin-bottom:20px;
}

.topo-contato h1{
    font-size:70px;
    color:#002f87;
    margin-bottom:10px;
    font-weight:bold;
}

.topo-contato p{
    font-size:24px;
    color:#444;
}

/* CONTAINER */

.container{
    width:90%;
    max-width:1400px;
    margin:40px auto;
    display:flex;
    gap:30px;
}

/* CARDS */

.informacoes{
    width:40%;
}

.card{
    background:white;
    border-radius:20px;
    padding:30px;
    margin-bottom:25px;

    display:flex;
    gap:25px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.icone{
    width:80px;
    height:80px;

    background:#002f87;

    border-radius:15px;

    display:flex;
    align-items:center;
    justify-content:center;

    flex-shrink:0;
}

.icone i{
    color:white;
    font-size:35px;
}

.card h3{
    color:#002f87;
    margin-bottom:15px;
    font-size:28px;
}

.card p{
    margin-bottom:10px;
    color:#333;
    font-size:18px;
    line-height:1.5;
}

.redes{
    display:flex;
    gap:20px;
    margin-top:15px;
}

.redes i{
    color:#002f87;
    font-size:35px;
    cursor:pointer;
}

/* FORMULÁRIO */

.formulario{
    width:60%;
    background:white;
    border-radius:20px;
    padding:40px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.formulario h2{
    color:#002f87;
    font-size:40px;
    margin-bottom:30px;
}

.linha{
    display:flex;
    gap:20px;
}

.formulario input,
.formulario select,
.formulario textarea{
    width:100%;
    padding:18px;
    border:1px solid #d8d8d8;
    border-radius:10px;
    margin-bottom:20px;
    font-size:17px;
}

.formulario textarea{
    height:180px;
    resize:none;
}

.formulario input:focus,
.formulario select:focus,
.formulario textarea:focus{
    outline:none;
    border-color:#002f87;
}

button{
    width:100%;
    border:none;
    background:#002f87;
    color:white;

    padding:18px;

    border-radius:10px;

    font-size:20px;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    background:#001f5a;
}

button i{
    margin-right:10px;
}

/* RESPONSIVO */

@media(max-width:1000px){

    .container{
        flex-direction:column;
    }

    .informacoes,
    .formulario{
        width:100%;
    }

    .linha{
        flex-direction:column;
        gap:0;
    }

    .topo-contato h1{
        font-size:50px;
    }

}